# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*

# Node modules
**/node_modules/

# Build folders
**/dist/
**/build/

# Coverage
**/coverage/